html{
     box-sizing: border-box;
 }

body {
    background-color: rgb(14, 14, 14);
    font-size: 16px;
    background-image: url(chroma.jpg);
  
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
input,
fieldset{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    font-size: 1rem;
    font-family: inherit;
}

.no-touchevents .btn.btn--secondary:hover{
    -webkit-transform: none;
    transform: none;
}
input[type="radio"]{
    position: fixed;
    left: -100px;
}
[id="login"]:checked ~ input.login,
[id="register"]:checked ~ input.register,
[id="reset"]:checked ~ input.reset{
    max-height: 40px;
    padding: 10px;
    margin: 10px 0;
    opacity: 1;
}
[id="login"]:checked ~ button.before{
    content: "Login";
}
[id="register"]:checked ~ button.before{
    content: "Register";
}
[id="reset"]:checked ~ button.before{
    content: "Reset Password";
}
input:not([type="radio"]){
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    display: block;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    border-radius: 7px;
    border: 0;
    max-height: 0;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    width: 250px;
    opacity: 0;
    font-size: 16px;
    text-align: center;
    outline: 0;
}
.no-touchevents .btn.btn--main-cta:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

label:after{
    content: "";
    border: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    -webkit-transition: inherit;
    transition: inherit;
}
[id="login"]:checked ~ [for="login"]:after,
[id="register"]:checked ~ [for="register"]:after,
[id="reset"]:checked ~ [for="reset"]:after{
    border-bottom-color: #fff;
}
.flex-wrap{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    text-align: center;
}
button{
    width: 205px;
    height: 40px;
    border-radius: 7px;
    background-color: cornflowerblue;
    font-size: 16;
    color: whitesmoke;
    font-weight: 700;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button::before{
    font-size: 16px;
}
label{
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    color: whitesmoke;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    width: calc(100%/3 - 4px);
}